@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media only screen and (min-width: 512px) {
    body {
        background: url('bg.jpg') no-repeat top center fixed;
        background-size: cover;
        padding: 11vh 0;
    }

    main {
        width: 100%;
    }

    .hero_text {
        font-size: 6.4rem;
    }
}

@media only screen and (max-width: 511px) {
    .hero_text {
        font-size: 5.6rem;
    }

    .nav_button {
        display: none;
    }
}

html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
    line-height: 1.43;
    background-color: black;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -0.15px;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 6.4rem;
    letter-spacing: -1.4px;
    line-height: 1.2;
}

h2 {
    font-weight: 400;
    font-size: 2.4rem;
    padding: 15px 0;
}

h4 {
    font-weight: 450;
    font-size: 1.6rem;
}

.content {
    max-width: 700px;
    grid-row: 2;
    justify-items: center;
}

nav {
    padding: 0;
    padding: 32px 0 24px 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.nav_button {
    line-height: 64px;
    border-radius: 8px;
    padding: 0 24px;
    cursor: pointer;
    background-color: rgb(10, 103, 210);
    transition: 0.3s;
}

.nav_button:hover {
    background-color: rgb(10, 77, 153);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

nav img {
    height: 64px;
    
}

nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}

main {
    background-color: black;
    border-radius: 24px;
    color: white;
    font-size: 1.6rem;
    padding-top: 8px;
    padding-bottom: 48px;
    max-width: 960px
}

.main_internal {
    padding: 0 8vw;
}

.main_text a:link, .main_text a:visited {
    color: white;
}

.main_text a {
    transition: 0.3s;
}

.main_text p {
    padding-top: 4px;
}

.main_text a:hover {
    color: rgb(190, 190, 190);
}